{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Требования преподователей</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body class="dark-theme">
    <main>
        <div class="popup popup--hide">
            <div class="popup__window">
                типа окно отзыва
            </div>
        </div>
        <h1>Выберите фильтры <br> или воспользуйтесь поиском</h1>
        <section class="search_section">
            <div class="search_section__frame">
                <p class="search_section__label">Фильтры</p>
                <div class="search_section__container">
                    <div class="search_section__dropdown">
                        <button class="search_section__dropdown_btn">Факультет</button>
                        <div class="search_section__dropdown_content"></div>
                        <div class="search_section__dropdown_icon"></div>
                    </div>
                    <div class="search_section__dropdown">
                        <button class="search_section__dropdown_btn">Кафедра</button>
                        <div class="search_section__dropdown_content"></div>
                        <div class="search_section__dropdown_icon"></div>
                    </div>
                    <div class="search_section__dropdown">
                        <button class="search_section__dropdown_btn">Предмет</button>
                        <div class="search_section__dropdown_content"></div>
                        <div class="search_section__dropdown_icon"></div>
                    </div>
                </div>
            </div>
            <div class="search_section__frame">
                <p class="search_section__label">Поиск по  ФИО</p>
                <div class="search_section__container">
                    <div class="search_section__icon"></div>
                </div>
            </div>
        </section>
        <section class="rates">
            {% for card_item in cards %}
            <article class="card">
                <div class="card__left_line">
                    <p class="card__full_name">
                        {{card_item.name}}
                    </p>
                    <div class="card__arrow_icon"></div>

                </div>
                <div class="card__right_line">
                    <p class="card__rating">
                        <b>4.5/5</b>
                    </p>
                </div>
            </article>
            {% endfor %}
        </section>
        <div style="display: flex; flex-direction: column; align-items: center; margin-top: 28px">
            <button class="load_more" id="load_more">Загрузить ещё</button>

        </div>
    </main>
</body>
<script type="text/javascript" src="{% static 'main.js' %}"></script>
</html>