$font: 'Verdana';

:root {
  --main_background: #EEEEEE;
  --card_background: #C8D0E2;
  --header_color: #5B4E4E;
  --label_color: #000000;
}


.dark-theme {
  --main_background: #282828;
  --card_background: #FFFFFF;
  --header_color: #FFFFFF;
  --label_color: #FFFFFF;
}

* {
  font-family: $font;
  padding: 0;
  margin: 0;
}

body {
  background: var(--main_background);
}

main {
  background: var(--main_background);
  text-align: center;
  padding-bottom: 28px;
}
h1 {
  margin-top: 60px;
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  align-items: center;
  text-align: center;
  display: block;

  color: var(--header_color);

}
h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 43px;

  color: #FFFFFF;
  text-align: left;

}
.paragraph {
  //margin-top: 20px;
  font-style: normal;
  font-weight: 200;
  opacity: 70%;
  font-size: 25px;
  line-height: 30px;

  color: #FFFFFF;
}

.search_section {
  margin-top: 67px;
  padding: 0 20px 0 20px;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  flex-wrap: wrap;

  &__label {

    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: var(--label_color);
  }
  &__icon {
    min-width: 16px;
    min-height: 16px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("images/search.png");
  }
  &__container {
    margin-top: 15px;
    min-width: 280px;
    min-height: 58px;
    padding: 0 20px 0 20px;
    display: flex;
    align-items: center;
    background: var(--card_background);
    border-radius: 30px;
    flex-wrap: wrap;
  }
  &__input {
    display: inline-block;
    width: 100%;
    border: 0;
    font-size: 16px;
    line-height: 19px;
    margin-left: 22px;
  }
  &__input:focus {
    outline: none;
  }
  &__dropdown {
    height: 58px;
    display: flex;
    align-items: center;
  }
  &__dropdown_btn {
    background: none;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
  }
  &__dropdown_icon {
    min-width: 8px;
    min-height: 8px;
    margin-right: 20px;
    margin-left: 40px;
    background-image: url("images/icon.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.popup {
  display: grid;
  grid-template-columns: 55%;

  justify-content: center;
  min-width: 100%;
  min-height: 100%;
  align-items: center;

  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.4);
  overflow: hidden;
  position: fixed;
  top: 0px;
  &__window {
    height: 70%;
    background: #7C51A1;
    border-radius: 20px;
  }
  @media screen and (max-width: 640px){
    grid-template-columns: 1fr;
    &__window {
      height: 100%;
      border-radius: 0;
    }
  }
}

.popup--hide {
  display: none;
}

.rates {
  padding: 0 30px 0 30px;
  margin-top: 60px;
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  gap: 30px;
  flex-wrap: wrap;

  @media screen and (max-width: 1000px){
    grid-template-columns: 1fr;
  }

}


.card {
  background: var(--card_background);
  border-radius: 20px;
  padding: 30px;
  //max-width: 530px;
  //min-width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  &__left_line {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
  }
  &__full_name {
    font-weight: 400;
    font-size: 40px;
    line-height: 49px;
    color: #000000;
    overflow-wrap: anywhere;
    text-align: left;
  }
  &__rating {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    color: #000000;
  }
  &__bottom_line {
    margin-top: 40px;
  }
  &__arrow_icon {
    width: 42px;
    height: 42px;
    background-image: url(images/arrow_icon.png);
    background-repeat: no-repeat;
    background-size: contain;
  }

  @media screen and (max-width: 550px){
    &__full_name {
      font-size: 28px;
      line-height: 35px;
    }
    &__rating {
      font-size: 32px;
      line-height: 35px;
    }
    &__bottom_line {
      margin-top: 32px;
    }
    &__arrow_icon {
      width: 36px;
      height: 36px;
    }
  }
}

.card:hover {
  background-color: #4B6EB9;
  //transform: scale(1.02);
  transition: background-color 300ms ease;
  .card__full_name, .card__rating {
    color: #FFFFFF;
  }
  .card__arrow_icon {
    background-image: url(images/arrow_icon_white.png);
  }
}

.load_more {
  background-color: #C8D0E2;
  border-radius: 16px;
  padding: 10px 20px;
  color: #000000;
  border: none;
  float: right;
  font-size: 16px;
  line-height: 10px;
  width: 180px;
  height: 40px;
}

.load_more:hover {
  background-color: #4B6EB9;
  color: #FFFFFF;
}


.rating_section {
  margin: 40px 148px 0 148px;
}

.rating_card {
  margin-top: 40px;
  &__content {
    padding: 22px;
    border-radius: 20px;
    text-align: left;
    background-color: #FFFFFF;
  }
  &__rating_score {
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;

    color: #000000;
  }
  &__rating_text {
    margin-top: 12px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    color: #000000;
  }
  &__content_main {
    border: 4px solid #FFFFFF;
    background: #4B6EB9;
    background-image: url(images/back.png);
    background-position: center center;
    background-repeat: no-repeat;
    //background-size: contain;
    .rating_card__rating_score {
      color: #FFFFFF;
    }
    .rating_card__rating_text {
      color: #FFFFFF;
    }
  }

  &__rate_rating {

    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: left;

    color: #FFFFFF;
  }
  &__like {
    margin-left: 8px;
    width: 24px;
    height: 24px;
    background-image: url(images/like.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
  &__dislike {
    margin-left: 8px;
    width: 24px;
    height: 24px;
    background-image: url(images/dislike.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.rate_panel {
  margin-top: 48px;
  padding-bottom: 18px;
  display: flex;
  justify-content: space-between;
  &__text {
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
    color: #FFFFFF;
  }
  a {
    text-decoration: underline;
    text-decoration-color: #4B6EB9;
  }
  a:hover {
    color: #4B6EB9;
  }
}